.uploaded-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    width: 105px;
    height: 105px;
    padding: 10px 15px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #icon {
      position: absolute;
      opacity: 0;
      width: fit-content;
      height: fit-content;
      top: 7px;
      left: 80px;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      #icon {
        opacity: 1;
      }
    }
  }
}
