@import 'src/styles/breakpoints.scss';

#main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;

  .section {
    display: flex;
    flex-direction: column;
    border-right: 0.6px solid rgba(0, 0, 0, 0.3);
    min-width: 0;
  }

  .section__right__content {
    display: grid;
    height: calc(100vh - 52px);
    grid-template-columns: 2fr 1fr;
  }

  .section__right__content--two-columns {
    grid-template-columns: 2fr 1fr;
  }

  .section__right__content--one-columns {
    grid-template-columns: 1fr;
  }

  .section__left__content {
    height: calc(100vh - 52px);
    overflow: hidden;

    .active {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }

    &:hover {
      overflow-y: overlay;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

/* Emoji picker */
#emoji-picker {
  position: relative;

  #emoji-picker-nested {
    position: absolute;
    bottom: 30px;
    left: 8px;
  }

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 23px;
    bottom: 25px;
    transform: rotate(45deg);
    border-right: 0.3px solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
}

/* Responsive */
@media screen and (max-width: $breakpoint-mobile) {
  #main {
    grid-template-columns: 1fr 6fr;

    .section {
      min-width: auto;
    }

    .section__right__content {
      grid-template-columns: 1fr;
    }

    .section__left__content {
      overflow-y: auto !important;
    }

    .friend-section {
      .friend-container {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .first-header {
      justify-content: center;
    }
  }

  #message-bubble {
    .message-bubble--content {
      max-width: 400px;
    }

    .message-bubble--content__margin-right {
      margin-right: 0;
    }

    .message-bubble--content__margin-left {
      margin-left: 0;
    }
  }
}
