#message-section {
  height: calc(100vh - 59px);

  .message-section--conversation,
  .message-section--input,
  .message-section--tool {
    padding: 0px 20px 0px 10px;
  }

  .message-section--conversation {
    flex-grow: 1;

    .message-section--conversation__element {
      clear: both;
    }
  }

  .message-section--input {
    textarea {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 10px 0px 0px 10px;
      margin: 2px 0px 2px 0px;
      border: none;
      outline: none;
    }

    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 15px;
    }

    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 15px;
    }
  }

  .message-section--tool {
    height: 30px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: 6px;
  }
}
