.message-section__search {
    background-color: rgba(255, 255, 255, 0.9);
    height: 40px;
    padding: 5px 10px;
    position: fixed;
    z-index: 2;
    width: 48.65%;
    
    .search-box-container {
        flex: 0.9;
        
        .search-box-container--search-box {
            flex: 1;
        }
    }
}