@import 'src/styles/breakpoints.scss';

.friend-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  padding: 7px 10px;

  .friend-container--info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;

    .friend-container--name-and-date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 4px;

      .friend-container--name {
        min-width: 0;

        h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 5px;
          margin: 0;
        }
      }
    }
  }

  .friend-container--name {
    width: 70%;
  }

  .friend-container--sub-title {
    p {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      width: 260px;
      text-overflow: ellipsis;
    }
  }

  .light-text {
    font-size: 14px;
  }
}

.mouse-hover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: $breakpoint-desktop-small) {
  .friend-container {
    .friend-container--name {
      width: 60%;
    }

    .friend-container--sub-title {
      p {
        width: 220px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-tablet-landscape) {
  .friend-container {
    .friend-container--sub-title {
      p {
        width: 140px;
      }
    }
  }
}
