.friend-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  padding: 7px 10px;

  .friend-container--info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .friend-container--name-and-date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 4px;

      .friend-container--name {
        width: 70%;

        h4 {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 5px;
        }
      }
    }
  }

  .light-text {
    font-size: 14px;
  }
}

.mouse-hover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
