/**
* Breakpoint Variables
**/

$breakpoint-mobile: 480px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-large: 1400px;

/**
* Media Query Variables
**/
$media-mobile: 'all and (max-width: #{$breakpoint-mobile})';
$media-tablet-portrait: 'all and (max-width: #{$breakpoint-tablet-portrait})';
$media-tablet-landscape: 'all and (max-width: #{$breakpoint-tablet-landscape})';
$media-desktop-small: 'all and (max-width: #{$breakpoint-desktop-small})';
$media-desktop-medium: 'all and (max-width: #{$breakpoint-desktop-large})';
$media-desktop-large: 'all and (min-width: #{$breakpoint-desktop-large + 1})';
