@import 'tools/normalize.scss';
@import 'tools/font.scss';
@import 'tools/reset.scss';
@import 'variables.scss';

html,
body {
  overflow: hidden;
}

// flex
.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.align__center {
  align-items: center;
}

.justify--space__between {
  justify-content: space-between;
}

// button
.btn {
  color: #fff;
  border-radius: 6px;
  min-width: 100px;
  width: fit-content;
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
}

.btn-default {
  color: #000;

  &:hover {
    background-color: $darken-default;
  }
}

.btn-primary {
  background-color: $primary;

  &:hover {
    background-color: $darken-primary;
  }
}

.btn-block {
  width: 100%;
}

// form
.form-group {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
  }
}

.form-control {
  box-sizing: border-box;
  padding: 12px 10px;
  margin-bottom: 5px;
  background-color: $bg-color;
  border: 0.5px solid $border-color;
  border-radius: 4px;
  outline: none;
}

.form-control-error {
  border: 0.5px solid $border-error-color;
}
