@import 'tools/normalize.scss';
@import 'tools/font.scss';
@import 'tools/reset.scss';
@import 'variables.scss';

// flex

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.align__center {
  align-items: center;
}

.justify--space__between {
  justify-content: space-between;
}

html,
body {
  overflow: hidden;
}
