.modal-content-container {
 
  .modal-content--main {
  
    .color-row {
      margin-top: 10px;

      .color-element {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
      }

      .active {
        position: relative;

        &:before {
          content: '';
          width: 6px;
          height: 12px;
          border-top: 2px solid white;
          border-left: 2px solid white;
          position: absolute;
          transform: rotate(-135deg);
          left: 42%;
          top: 30%;
        }
      }
    }
  }
}
