.search {
  position: relative;
  padding: 10px;
  margin-right: 17px;
  margin-left: 2px;

  .search--icon {
    position: absolute;
    margin: 7px 0 0 7px;
  }

  input {
    border-radius: 4px;
    padding: 7px;
    outline: none;
    border: none;
    background-color: #F6F7F9;
    width: 100%;
    margin: 0;
    text-indent: 20px;
  }

  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
  }
}