#app {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  
  #header-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  #content-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: calc(100vh - 50.59px);
  }

  .section {
    border-right: 0.6px solid rgba(0, 0, 0, 0.3);
  }

  .friend-section {
    overflow: hidden;

    .active {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }

    &:hover {
      overflow-y: overlay;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

// border

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

// flex

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.align__center {
  align-items: center;
}

.justify--space__between {
  justify-content: space-between;
}

// float
.float__left {
  float: left;
}

.float__right {
  float: right;
}

// scroll bar
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
     background: rgba(0,0,0,0.4); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.3); 
}


/* Emoji picker */
#emoji-picker {
  position: relative;
  
  #emoji-picker-nested {
    position: absolute;
    bottom: 30px;
    left: 8px;
  }
  
  &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: white;
      position: absolute;
      left: 23px;
      bottom: 25px;
      transform: rotate(45deg);
      border-right: 0.3px solid rgba(0, 0, 0, 0.3);
      border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
      z-index: 999;
    }
}
