#app {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  
  #header-section {
    display: grid;
    grid-template-columns: 1.065fr 3fr;
  }

  #content-section {
    display: grid;
    grid-template-columns: 1.1fr 2fr 1.1fr;
    height: calc(100vh - 50.59px);
  }

  .section {
    border-right: 0.6px solid rgba(0, 0, 0, 0.3);
  }

  .friend-section {
    overflow: hidden;

    &:hover {
      overflow: scroll;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

// border

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

// flex

.flex--column {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.align__center {
  align-items: center;
}

.justify--space__between {
  justify-content: space-between;
}

// float
.float__left {
  float: left;
}

.float__right {
  float: right;
}


