#tool {
  .tool--header {
    padding: 10px 0px;

    .user-setting {
      position: absolute;
      z-index: 1000;
      padding: 10px 20px;
      width: 100px;
      right: -3px;
      top: 25px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.35);
      background-color: #fff;

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        top: -5px;
        right: 8px;
        background-color: white;
        position: absolute;
        transform: rotate(45deg);
        border-left: 0.3px solid rgba(0, 0, 0, 0.3);
        border-top: 0.3px solid rgba(0, 0, 0, 0.3);
        z-index: 999;
      }
    }
  }

  .tool--options,
  .tool--photos {
    .title {
      padding: 15px 10px;
      transition: all 200ms ease-in-out;

      p {
        font-size: 18px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .children {
      padding: 0px 10px;
    }
  }

  .tool--options {
    .element {
      margin: 5px 0px;
      width: 100%;
      height: 40px;
    }
  }
}

.move-left-90deg-animation {
  animation: rotate-left-90-deg 200ms ease-in-out 0s normal forwards;
}

@keyframes rotate-left-90-deg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.move-down-90deg-animation {
  animation: rotate-down-90-deg 200ms ease-in-out 0s normal forwards;
}

@keyframes rotate-down-90-deg {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
